{%- liquid
  assign title_image = closest.collection.metafields.custom.title_image
  assign collection_title = closest.collection.title
  assign pre_title = closest.collection.metafields.custom.pre_title.value
  assign description = closest.collection.description
  assign collection_image = closest.collection.image

  assign has_collection_image = false
  if section.settings.show_image and collection_image
    assign has_collection_image = true
  endif
-%}

{% capture children %}
  <div class="twp-collection-heading__content{% unless has_collection_image %} twp-collection-heading__content--no-media{% endunless %}">
    {% if section.settings.show_pre_title and pre_title != blank %}
      <p class="twp-collection-heading__pre-title">{{ pre_title }}</p>
    {% endif %}

    {% if title_image %}
      <div class="twp-collection-heading__title">
        {{
          title_image
          | image_url: width: 400
          | image_tag:
            width: title_image.width,
            widths: '200, 400',
            height: title_image.height,
            class: 'twp-collection-heading__title-image',
            sizes: '200px',
            alt: collection_title
        }}
      </div>
    {% elsif collection_title %}
      <div class="twp-collection-heading__title">
        <h5 class="twp-collection-heading__title-text">{{ collection_title }}</h5>
      </div>
    {% endif %}

    {% if section.settings.show_description and description != blank %}
      <div class="twp-collection-heading__description">{{ description }}</div>
    {% endif %}
  </div>

  {% if has_collection_image %}
    <div class="twp-collection-heading__media" style="--image-border-radius: {{ section.settings.image_border_radius }}px">
      {{
        collection_image
        | image_url: width: 1600
        | image_tag:
          widths: '400, 600, 800, 1000, 1200, 1600',
          sizes: '(min-width: 750px) 50vw, 100vw',
          alt: collection_title,
          loading: 'eager',
          class: 'twp-collection-heading__image'
      }}
    </div>
  {% endif %}
{% endcapture %}

{% render 'section', section: section, children: children %}

{% if section.settings.show_breadcrumb and closest.collection %}
  <nav
    class="twp-collection-breadcrumb color-{{ section.settings.color_scheme }}{% if has_collection_image %} twp-collection-breadcrumb--has-media{% endif %}{% if section.settings.content_direction == 'row' %} twp-collection-breadcrumb--split{% endif %}"
    aria-label="{{ 'accessibility.breadcrumb' | t }}"
  >
    <ol class="twp-collection-breadcrumb__list">
      <li class="twp-collection-breadcrumb__item">
        <a href="/" class="twp-collection-breadcrumb__link">{{ 'accessibility.home' | t }}</a>
      </li>
      <li class="twp-collection-breadcrumb__item">
        <span class="twp-collection-breadcrumb__separator" aria-hidden="true">
          {{- 'icon-chevron-right.svg' | inline_asset_content -}}
        </span>
        <span aria-current="page">{{ closest.collection.title }}</span>
      </li>
    </ol>
  </nav>
{% endif %}

{% stylesheet %}
  .twp-collection-heading {
    position: relative;
  }

  .twp-collection-heading__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex: 1;
  }

  .twp-collection-heading__pre-title {
    margin: 0;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .twp-collection-heading__title {
    line-height: 0;
  }

  .twp-collection-heading__title-image {
    display: block;
    max-width: 200px;
    height: auto;
  }

  .twp-collection-heading__title-text {
    margin: 0;
  }

  .twp-collection-heading__description {
    max-width: 60ch;
  }

  .twp-collection-heading__media {
    flex: 1;
    overflow: hidden;
    border-radius: var(--image-border-radius);
  }

  .twp-collection-heading__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .twp-collection-breadcrumb {
    position: absolute;
    top: var(--section-margin);
    left: var(--section-margin);
    z-index: 2;
    background: transparent;
    color: var(--color-foreground);
  }

  .twp-collection-breadcrumb__list {
    display: flex;
    align-items: center;
    gap: 6px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    line-height: 1;
  }

  .twp-collection-breadcrumb__item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .twp-collection-breadcrumb__separator svg {
    width: 6px;
    height: auto;
  }

  .twp-collection-breadcrumb .twp-collection-breadcrumb__link {
    --button-color: var(--color-foreground);
    color: var(--color-foreground);
    text-decoration: none;
  }

  .twp-collection-breadcrumb__link:hover {
    text-decoration: underline;
  }

  .twp-collection-breadcrumb--has-media {
    top: 0;
    left: 0;
    padding: 36px;
    color: var(--text-inverse);
  }

  .twp-collection-breadcrumb--has-media .twp-collection-breadcrumb__link {
    --button-color: var(--text-inverse);
    color: var(--text-inverse);
  }

  @media screen and (min-width: 750px) {
    .twp-collection-breadcrumb--has-media.twp-collection-breadcrumb--split {
      color: var(--color-foreground);
      padding: 24px;
    }

    .twp-collection-breadcrumb--has-media.twp-collection-breadcrumb--split .twp-collection-breadcrumb__link {
      --button-color: var(--color-foreground);
      color: var(--color-foreground);
    }
  }

  .twp-collection-heading > .section > .custom-section-content > .layout-panel-flex--column {
    flex-direction: column-reverse;
  }

  .layout-panel-flex--column .twp-collection-heading__content--no-media {
    padding-block-start: 32px;
  }

  .layout-panel-flex--row .twp-collection-heading__content--no-media {
    padding-block-start: 36px;
  }

  .twp-collection-heading > .section > .custom-section-content > .layout-panel-flex--column {
    height: fit-content;
  }

  @media screen and (min-width: 750px) {
    .layout-panel-flex--column .twp-collection-heading__media {
      width: 100%;
      max-height: 300px;
    }
  }

  @media screen and (max-width: 749px) {
    .twp-collection-heading > .section > .custom-section-content > .mobile-column {
      flex-direction: column-reverse;
    }

    .twp-collection-heading .section-content-wrapper {
      --padding-block-start: 0px;
      padding: 24px;
      height: fit-content;
    }

    .twp-collection-heading__content {
      height: fit-content;
    }

    .twp-collection-heading__media {
      aspect-ratio: 3 / 2;
      overflow: hidden;
      width: 100%;
    }

    .twp-collection-breadcrumb--has-media {
      padding: 36px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection heading",
  "class": "section-wrapper twp-collection-heading",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pre_title",
      "label": "Show pre-title",
      "info": "Displays the collection pre-title metafield",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "Image border radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ section.settings.show_image }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "Split"
        }
      ],
      "default": "row"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "space-between",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ section.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.section_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.background_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Collection heading",
      "category": "t:categories.text",
      "settings": {
        "show_breadcrumb": true,
        "show_pre_title": true,
        "show_description": true,
        "show_image": true,
        "image_border_radius": 12,
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "space-between",
        "vertical_alignment": "flex-end",
        "align_baseline": true,
        "gap": 16,
        "section_width": "full-width",
        "section_height": "",
        "color_scheme": "scheme-9",
        "padding-block-start": 24,
        "padding-block-end": 24,
        "padding-inline-start": 24,
        "padding-inline-end": 24
      }
    }
  ]
}
{% endschema %}
